@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearanceRight {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
